/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
  /* header */
  .main_menu ul li {
    margin-left: 25px;
  }
  .main_menu ul {
    justify-content: center;
  }

  /* feater area */
  .feature_area {
    margin-top: 70px;
    padding-top: 0;
  }
  /* slider */
  .slider-inner h2 {
    font-size: 46px;
  }
  .slider-inner {
    margin-top: 30px;
  }
  /* about  */
  .about_text h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .about_text {
    padding-top: 10px;
  }
  .about-img img {
    width: 100%;
  }
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .logo {
    padding-top: 12px;
  }
  /* feater area */
  .feature_area {
    margin-top: 70px;
    padding-top: 0;
  }
  /* slider */
  .slider-inner h2 {
    font-size: 36px;
  }
  .about_text {
    margin: 0px 60px;
  }
  .about-img {
    margin-top: 50px;
  }
  .subscribe_from input {
    width: 24%;
  }

  .pricing_item {
    width: 80%;
    padding: 30px;
  }
}

/* small mobile :320px. */
@media (max-width: 767px) {
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 450px;
  }
}
